@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-candlestick-series .highcharts-point-down {

	stroke: #FF5A5A;
	fill: #FF5A5A;
}
.highcharts-candlestick-series .highcharts-point-up {
	stroke: #78B214;
	fill: #78B214;
}
.highcharts-column-series .highcharts-point {
	stroke: #78B214 !important;
	fill: #78B214;
}
.highcharts-background {
	fill: #26404D
}
.highcharts-grid-line {
	fill:#43616F;
	stroke:#43616F;
}
.highcharts-container {
	height: 480px !important;
}

.highcharts-button {
	fill: #43616F;
}
.highcharts-button text,
.highcharts-range-label text,
.highcharts-range-selector-buttons text
 {
	fill: #ffffff !important;
}
.highcharts-range-input text {
	fill: #ffffff !important	
}
